.page-header{
    border: 1px solid #ECECEC;
    background:var(--header-background-color);
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-list__item{
    margin-right: 50px;
    &:last-child{
        margin-right: 0;
    }
}
.header-list{
    display: flex;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo{
    font-family:'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);
    @media screen and (min-width: 320px) and (min-width: 767px) {
        font-size: 24px;
        line-height: calc(28 / 24); 
    }
}
.header-logo-title {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 94px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: var(--header-studio-color);
    @media screen and (min-width: 320px) and (min-width: 767px) {
        font-size: 24px;
        line-height: calc(28 / 24); 
    }
}
.header-list__item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    transition: color 250ms linear;
    cubic-bezier: (0.4, 0, 0.2, 1);
    position: relative;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &.current::after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--header-logo-color);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: -32px;
    }
}
.header-auth__list{
    margin-left: auto;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: block;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}
.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14); 
    display: flex;
    align-items: center;
    margin-right: 51px;
    transition: color 250ms linear;
    cubic-bezier: (0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
    &:hover .header-mail-icon,
    &:focus .header-mail-icon{
        fill: var(--accent-color);
    }
    @media screen and (min-width: 320px) and (min-width: 767px) {
        font-size: 12px;
        line-height: calc(14 / 12); 
        padding-top: 21px;
    }
}
.header-mail-icon{
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms linear;
    cubic-bezier: (0.4, 0, 0.2, 1);
    @media screen and (min-width: 320px) and (min-width: 767px) {
        margin-right: 8px;
    }   
}
.header-auth__item::after{
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14); 
    display: flex; 
    align-items: center;
    transition: color 250ms linear;
    cubic-bezier: (0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
    &:hover .header-tel-icon,
    &:focus .header-tel-icon{
        fill: var(--accent-color);
    }
    @media screen and (min-width: 320px) and (min-width: 767px) {
        font-size: 12px;
        line-height: calc(14 / 12); 
        padding-bottom: 21px;
        margin-top: 10px;
    }
}
.header-tel-icon{
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms linear;
    cubic-bezier: (0.4, 0, 0.2, 1);
    @media screen and (min-width: 320px) and (min-width: 767px) {
        margin-right: 8px;
    }
}
.open-menu-btn{
    @media screen and (min-width: 320px) and (max-width: 767px) {   
        display: inline-flex;
        border: none;
        margin-left: auto;
        padding: 0;
        background: #FFFFFF;
        transition: color 250ms linear;
        cubic-bezier: (0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
    }  
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mob-menu{
    position: fixed;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mob-menu-social-list{
    display: flex;
}
.mob-menu-bottom{
    margin-top: auto;
}
.close-menu-btn{
    display: block;
    margin-left: auto;
    border: none;
    background: #FFFFFF;
    transition: fill 250ms linear;
    &:focus{
        fill: var(--accent-color)
    }
}
.mob-menu-list{
    margin-left: 25px;
}
.mob-menu-list__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mob-menu-link__item{
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    color: var(--title-color);
}
.mob-menu-connect{
    margin-bottom: 64px;
}
.mob-menu-tel{
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em; 
    color: #2196F3;
    display: block;
    margin-bottom: 32px;
}
.mob-menu-auth__item{
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: #757575;
}
.mob-menu-social-item:not(:first-child){
    padding-left: 10px;
}
.mob-menu-social-item:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33,33,33,0.2);
    display: flex;
}
.mob-menu-bottom{
    margin-left: 30px;
}
.mob-menu-social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}