:root {
    --header-logo-color: #2196F3;
    --footer-logo-color: rgba(0, 0, 0, 0.25);
    --header-studio-color: #000000;
    --main-title-color: #FFFFFF;
    --first-text-color: rgba(255, 255, 255, 0.6);
    --footer-studio-color:rgba(0, 0, 0, 0.25);
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --footer-accent-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --hero-background-color: #2F303A;
    --title-background-color:#F5F4FA;
    --header-background-color: #FFFFFF;
}